
@using WebUI.Models
@using WebUI.HtmlHelpers

@model CharacteristicListViewModel

@{
    ViewBag.Title = "Товары";
}

@foreach (var p in @Model.Characteristics)
{
    @Html.Partial("GameSummary", p)
}

<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))
</div>